doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nombrePagina  
            p Ingresar Nueva Contraseña

            form.caja-login(method="POST")
                .campo      
                    label(for="password") Nuevo Password: 
                    input(type="password" name="password" placeholder="Nueva Contraseña")
                .campo.enviar
                    input.boton(type="submit" value="Restablecer Contraseña")