doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ../../public/css/email.css

    body 
        h2 Restablecer Password 
        p Hola, has solicitado restablecer tu contraseña. Para ello haz click en el siguiente enlace. Este enlace es temporal, si vence vuelve a solicitarlo.
        a(href=`${resetUrl}`) Resetear Contraseña
        p Si no puedes acceder a este enlace haz click aquí #{resetUrl}
        p Si no solicitaste este email ignoralo